streamlit==1.25.0
yfinance==0.2.18      # A more stable version of yfinance
matplotlib==3.5.3     # More stable matplotlib version
numpy==1.21.2         # More stable version
pandas==1.4.4         # Compatible pandas version
setuptools>=58.0.0    # To ensure distutils is available
pip>=24.0             # Ensures the latest pip version
